.sidebar {
  grid-column: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  background-color: var(--background-secondary);
  height: 75vh;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  margin-bottom: 16px;
}

.importButton {
  padding: 8px;
  border: 3px solid black;
  background-color: var(--background-secondary);
  color: var(--text-primary);

  border-radius: 8px;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  transition: all 0.2s ease;
}

.importButton:hover {
  background-color: #1ABAB8;
}

.error {
  padding: 8px;
  color: red;
}

.importedContent {
  overflow-y: auto;
  flex: 1;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 0;
}

.contentBlock {
  padding: 16px;
  border-radius: 8px;
  flex-shrink: 0;
  background-color: var(--background-primary);
  cursor: pointer;
}

.contentPreview {
    color: var(--text-secondary);
    font-size: 14px;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
}

.contentHeader h3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-primary);
    margin: 0;
}