.sidebar {
  grid-column: 1;
  align-self: center;

  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 75%;
  width: 100%;

  border-radius: 16px;

  background-color: var(--background-secondary);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.importButton {
  padding: 8px;
}

.error {
  padding: 8px;
  color: red;
}

.importedContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
}

.contentBlock {
  padding: 16px;
  border: 1px solid #ccc;
  height: 96px;
  overflow: hidden;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  border-bottom: 1px solid #ccc;
}

.contentText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 