.main {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100svh;
  width: 100vw;
  gap: 24px;
  padding: 48px;

  background-color: var(--background-primary);
  color: var(--text-primary);
}
